.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* נוסיף עיצוב לקישורים שיש בתרפיט העליון של ההתחברות וההרשמה*/
.whitelink {
  color: white;
  text-decoration:none;
  margin: 5px;
}
.spacer {
  width: 100%;
}

.whitelink1 {
  cursor: pointer;
}
