<!--
<h2>List of books</h2>
<ul> 
    <li *ngFor="let book of books"> 
        {{book.title}} by {{book.author}}
    </li>
</ul>
-->

<!--בדיקת הרשאה של משתמש מחובר-->
<p *ngIf = "!(authService.getUser() | async)">You Are Not Logged In</p> <!--שלא יציג את רשימת הספרים אם לא מחוברים - שיציג את ההודעה הזאת-->
<!--כפתור הוספת הספר-->
<div>
    <button mat-raised-button class="space2"
    color = "primary" 
    (click) = "addBookFormOpen = !addBookFormOpen"> <!--כדי לשנות את הטופס שמתחיל כסגור, לפתוח--> 
        Add book
    </button>
</div>
<!--הטופס שיאפשר לנו להוסיף ספר חדש-->
<div>
    <bookform *ngIf = "addBookFormOpen"
             (update) = "add($event)"
             (closeEdit) = "addBookFormOpen = false"
             [formType] = "'Add Book'"> <!--השם של הטופס יתשנה בהתאם למה שנרשום כאן -->
    </bookform>
</div>
<!--האקרודיון-->
<mat-accordion *ngIf = "(authService.getUser() | async)"> <!--נוסיף תפריט אקורדיון לכל ספר, שיציג את שם הספר המחבר וסיכום. ושיציג את רשימת הספרים רק אם מחוברים-->
   <!--[disabled]="!book.summary"  ניתן להוסיף שתי שורות למטה את זה בשביל לוודא שלא ניתו יהיה לפתוך תפריט של ספר אם אין לו סאמרי-->  
   <mat-expansion-panel 
                        (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false"
                        *ngFor = "let book of books; let i = index"> <!--ניצור לולאה של הספרים - הסבר על הלולאה בהרצאה 2, בהרצאה 4 שינינו כדי להכניס אייסיק פייפ כדי להירשם לאובסרבל מתוך הטיימפלייט -->
      <mat-expansion-panel-header> 
        <mat-panel-title>
            {{book.title}} 
        </mat-panel-title>
        <mat-panel-description>
            {{book.author}}
        <!--הכפתור של המחיקה -->
            <button mat-raised-button class="space"
                color = "primary" 
                (click) = "deleteBook(book.id)"> <!--לחיצה על הכפתור תפעיל את הפונקצייה דלייטבוק שיש בקומפוננט-->
                Delete
            </button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{book.summary}}</p>
      <!--הכפתור של העדכון -->
      <button mat-raised-button 
      color = "primary" 
      (click) = "editstate[i] = !editstate[i]"> <!--נוט של נאל זה בעצם טרו. כדי שנוכל להפעיל גם על דאטהטייפס שהם לא בוליאנים והם יהפכו לבוליאנים--><!--לחיצה על הכפתור תשנה את המצב שלו, אם הטופס סגור הוא ייפתח ואם סגור הוא יהי פתוח-->  
      Edit
    </button>
      <!--טופס העדכון-->
      <!--נוסיף את השדות שיהיו מלאים כאשר פותחים את הטופס-->
      <bookform
      [hidden] = "!editstate[i]"
      [title] = "book.title"
      [author] = "book.author" 
      [id] = "book.id" 
      (update) = "update($event);editstate[i] = !editstate[i]"
      (closeEdit) = "editstate[i] = !editstate[i]"
      [formType] = "'Edit Book'"> <!--השם של הטופס יתשנה בהתאם למה שנרשום כאן -->
    </bookform>
    </mat-expansion-panel>
  </mat-accordion>
    <!--הכפתור של מעבר לעמוד הבא -->
    <div>  
        <button mat-raised-button class="space2"
        color = "primary" 
        (click) = "nextPage()"> <!--לחיצה על הכפתור תפעיל את הפונקציה שכתבנו בטי אס -->
            Next Page
        </button>
    <!--הכפתור של מעבר לעמוד הקודם -->
    <div>  
        <button mat-raised-button 
        color = "primary" 
        (click) = "previewsPage()"> <!--לחיצה על הכפתור תפעיל את הפונקציה שכתבנו בטי אס -->
            Previews Page
        </button>
    </div>
  