<!-- טופס עדכון ספר -->
<mat-card>
    <h1>{{formType}}</h1> <!-- שנגדיר לו בבוקס אייצטיאמאל הראשיכותרת הטופס תשתנה בהתאם להגדרה של כל טופס-->
    <form #bookForm="ngForm"> <!--כאשר מתרחש האירוע סאבמיט על הפורמ הפונקצייה אוןסאבמיט תפעל-->
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Title</mat-label>
              <input matInput 
                [(ngModel)] = "title"
                name = "title"
                required> <!--נדרש למלא-->
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Author</mat-label>
              <input matInput 
                [(ngModel)] = "author" 
                name = "author" 
                required> <!--נדרש למלא-->
            </mat-form-field>
          </p>                                    
        <div >
         <!--הכפתור של העדכון-->   
            <button mat-raised-button 
                    color="primary" 
                    (click) = "updateParent()">
                    {{formType}} <!--כדי שמה שכתוב על הכפתור ישתנה בהתאם לטופס-->
            </button>
            <!--הכפתור של הביטול-->  
            <button mat-raised-button 
                    (click) = "tellParenttoClose()">
                    Cancel
            </button>
        </div>
      </div>
    </form>
   </mat-card>
