<label id="example-radio-group-label">Pick your Favorite Network:</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="selectedNetwork"> <!-- ngFor חשוב לתת שם שונה כאן ושם שונה בלולאה של -->

  <mat-radio-button class="example-radio-button" *ngFor="let network of networks" [value]="network">
    {{network}}
  </mat-radio-button>
</mat-radio-group>
<div>Your Favorite Network Is: {{selectedNetwork}}</div>

<!--הודעת שגיאה לתרגיל בית 4 שמוודאה שלא מכניסים רשת אחרת שהיא לא אחת מהשלוש בראוט-->
<!--
<div *ngIf="bbc != 'cnn' && bbc != 'bbc' && bbc != 'nbc' ; then warning"></div>
<ng-template #warning> warning - please choose 'cnn', 'bbc' or 'nbc'</ng-template>
<div *ngIf="bbc == 'cnn' || bbc == 'bbc' || bbc == 'nbc' ; then sucsses"></div>
<ng-template #sucsses > Your favorite network is: {{bbc}} </ng-template> -->

<p></p>
<p></p>

<!--הרצאה 13-->
<mat-form-field style = "width:400px">
  <mat-label>Text to classify</mat-label>
  <textarea matInput
            [(ngModel)] = "text"
            name = "text"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="10"
            cdkAutosizeMaxRows="20"></textarea>
</mat-form-field>
<!--הכפתור -->
<div>
  <button mat-raised-button
    color="primary" 
    (click) = "classify()">
    Classify
  </button>
</div>
<!--נציג את הקטגוריה ואייקון -->
<div>
  {{category}} 
  <p></p>
  <img [src] = "categoryImage"> <!--התמונה של האייקון-->
</div>