<p *ngIf = "!(weatherData$ | async)&&!hasError">Loading data...</p> <!-- כדי שעד שהנתון של הטמפרטורה יגיע מהאתר החיצוני, זה מה שיוצג-->
<mat-card class="example-card">
    <mat-card-header>
      <!--<div mat-card-avatar class="example-header-image"></div>--> <!--הסרתי את התמונה הקטנה בעיגול של הכלב-->
      <!--אפשר גם בדרך הזאת להציג את הטמפרטורה, רוני הציג דרך אחרת-->
      <!-- Temperature in {{city}} is {{temperature | number:'1.0-0'}}º--> <!-- השתמשנו בפייפ כדי לעגל את המספר של הטמפרטורה כלפי מעלה. את הסימון של המעלות פשוט העתקתי מהקובץ המלווה והדבקתי-->
      <mat-card-title *ngIf = "!hasError">Temperature in {{city}} is {{(weatherData$ | async).temperature | number:'1.0-0'}}º</mat-card-title> <!--אם אין שגיאה נראה את הטמרטורה ונעגל ואותה--><!--נגדיר את העברת המידע מהיואראל, של העיר, כדי להציג את הטמפרוטרה שלה - הרצאה 4-->
      <mat-card-title *ngIf = "hasError">{{errorMessage}}</mat-card-title> <!--כאשר כן יש שגיאה, נציג את זה-->
      <mat-card-subtitle *ngIf = "!hasError">Country: {{country}} <!--כאשר אין שגיאה, נציג את המדינה-->
        <p>Longitude: {{lon}}, Latitude: {{lat}}</p> 
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf = "!hasError"><img [src]="image"></mat-card-subtitle> <!--בשביל שיציג את האייקון של מזג האוויר כאשר אין שגיאה - צריך להקיף את הערך של התכונה בסגוריים מרובעים, כדי שייקח את הערך של אימאג' מהטי אס, ויכניס את הערך, לתוך התגית של האייצ'טיאמאל--> 
    </mat-card-header>
    <!--נסיר את התמונה של הכלבה-->
    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <!-- <img [src]="image">--> <!--בשביל האייקון של מזג האוויר--> 
    <mat-card-content>
     <a routerLink="/city" routerLinkActive="active">Select City</a> <!--קישור לטופס - לראוט שלו-->
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  

