<mat-card> <!--ניצור את הטופס-->
    <h1>City Form</h1>
    <form #cityForm = "ngForm" (ngSubmit) = "onSubmit()" > <!--כאשר מתרחש האירוע סאבמיט על הפורמ הפונקצייה אוןדאבמיט תפעל-->
        <div>
            <mat-form-field appearance="fill">
                <mat-label>City Selected</mat-label>
                <!--מה שיופיע בתוך התיבה שמקלידים--><mat-select place-holder = "City" 
                    [(ngModel)] = "city"
                    name = "city"
                    required> <!--נוסיף אופציה של ריקויירד-->
                    <mat-option *ngFor="let city of cities" [value]="city.name"> <!--האופציות שיהיו בכפתור-->
                        {{city.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <button [disabled] = "!cityForm.form.valid" type = "submit" mat-raised-button color="primary">See temperatures for {{city}}</button> <!--נוסיף לכפתור אופציה שאי אפשר יהיה לבחור בו כל עוד לא בחרו עיר-->
        </div>
    </form>
</mat-card>
