<!-- טופס הרשמה -->
<mat-card>
    <h1>Registration  Form</h1>
    <form #registerForm = "ngForm" (ngSubmit) = "onSubmit()"> <!--כאשר מתרחש האירוע סאבמיט על הפורמ הפונקצייה אוןסאבמיט תפעל-->
        <mat-error *ngIf = "isError"> <!--הרצאה 9 הודעות השגיאה-->
            {{errorMessage}} 
          </mat-error>
        <div class="example-container">
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Email</mat-label>
                <!--מה שיופיע בתוך התיבה שמקלידים--><input matInput type="text" placeholder= "example:you@you.com" 
                   [(ngModel)] = "email"
                    name = "email"
                    required> <!--נדרש למלא-->
                    <mat-hint>The one you really read</mat-hint> <!--מה שיהיה רשום מתחת לתיבה-->
                    <button mat-button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=''"> <!--בשביל הודעות השגיאה-->
                    <mat-icon>close</mat-icon> <!--בשביל הודעות השגיאה-->
                   </button>
                </mat-form-field>
            </p>    
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Password</mat-label>
                   <!--הסתרה של התווים-->  <input matInput [type]="hide ? 'password' : 'text'"
                     [(ngModel)] = "password"
                     name = "password"
                     required> <!--נדרש למלא-->
                    <mat-hint>at least 6 characters</mat-hint> <!--מה שיהיה רשום מתחת לתיבה-->
                   <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"> <!--העין של ההסתרה-->
                     <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> <!--העין של ההסתרה-->
                    </button>
                </mat-form-field>
            </p>
        </div>
        <div>
            <button [disabled] = "!registerForm.form.valid" type="submit" mat-raised-button color="primary">Sign-Up</button> <!--נוסיף לכפתור אופציה שאי אפשר יהיה לבחור בו כל עוד לא מילאו פרטים-->
      </div>
    </form>
  </mat-card>




<!--הרצאה 8 והרצאה 9-->
<!-- <mat-card> --> <!--ניצור את טופס ההרשמה-->
   <!-- <h1>Sign Up Form</h1>
    <form #registerForm ="ngForm" (ngSubmit) = "onSubmit()" > --> <!--כאשר מתרחש האירוע סאבמיט על הפורמ הפונקצייה אוןסאבמיט תפעל-->
      <!-- <div class="example-container">
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder = "example: you@you.com" 
                    [(ngModel)] = "email"
                    name = "email"
                    required> -->  <!--נדרש-->
                   <!--<mat-hint>The one you really read</mat-hint>  --> <!--מה שיהיה רשום מתחת לתיבה-->
           <!--    </mat-form-field>
            </p>    
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder = "example: 42343@@##aZ"
                        [(ngModel)] = "password"
                        name = "password"
                        type = "password"
                        required> -->  <!--נדרש-->
                  <!--  <mat-hint>8 chracters or more</mat-hint>  --><!--מה שיהיה רשום מתחת לתיבה-->
               <!-- </mat-form-field>
            </p>
        </div>
        <p *ngIf = "isError"> {{errorMessage}}</p> --> <!--הרצאה 9 הודעות השגיאה-->
        <!--<div>
            <button mat-raised-button color="primary" [disabled] = "!registerForm.form.valid">Sign Up</button>  --><!--נוסיף לכפתור אופציה שאי אפשר יהיה לבחור בו כל עוד לא מילאו פרטים-->
       <!-- </div>
    </form>
</mat-card>
-->









<!--תרגיל בית 7-->
<!--
<mat-card> 
    <h1>Registration Form</h1>
    <form [formGroup]="myForm" (ngSubmit)="onSignup()" >
        <div class="example-container">
            <p>
                <mat-form-field appearance="standard">
                    <mat-label for="email">Email</mat-label>
                    <input formControlName="email" type="email" id="email" #email class="form-control" matInput placeholder = "example: you@you.com"> 
                    <span *ngIf="!email.pristine && email.errors != null && email.errors['noEmail']">Invalid mail address</span> 
                   <mat-hint>The one you really read</mat-hint>
                </mat-form-field>
            </p>    
            <p>
                <mat-form-field appearance="standard">
                    <mat-label for="password">Password</mat-label>
                    <input formControlName="password" type="password" id="password" class="form-control" matInput placeholder = "example: 42343@@##aZ"> 
                    <mat-hint>8 chracters or more</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label for="confirm-password">Confirm Password</mat-label>
                    <input formControlName="confirmPassword" type="password" id="confirm-password" #confirmPassword class="form-control" formControlName="password" type="password" id="password" class="form-control" matInput placeholder = "example: 42343@@##aZ"> 
                        <span *ngIf="!confirmPassword.pristine && confirmPassword.errors != null && confirmPassword.errors['passwordsNotMatch']">Passwords do not match</span>
                </mat-form-field>
            </p>
        </div>
        <div>
            <button type="submit" mat-raised-button color="primary">Sign Up</button> -->  <!-- הורדתי את הדיסאבל של הכפתור כי זה עשה בעיות -->
     <!--</div>
    </form>
</mat-card>
-->


















